<div class="my-3">
    <h2>Filter</h2>
    <br />
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p>
                <strong>Filter :</strong> by gender 
            </p>
            <br>
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr *ngFor="let item of data">
                    <td>{{item.name}}</td>
                </tr>
            </table>
            <br>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p>
                <strong>Pluck</strong> data * 2
            </p>
            <br>
            <p> </p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03</strong>
            <hr>
            <p>
                <strong>Map</strong> Map object Data 
            </p>
            <br>
            <ul id="elContainer"></ul>
        </div>
    </div>
</div>
