<div class="my-3">
    <h2>concat</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Source - 01 | Tech Channel</strong>
            <hr>
            <p>
                <strong>Tech videos list :</strong> 
            </p>
            <br>
        </div>
        <div class="col-md-4">
            <strong>Source - 02 | Drama Channel</strong>
            <hr>
            <p>
                <strong>Drama video list</strong> 
            </p>
            <br>
        </div>
        <div class="col-md-4">
            <strong>Source - 03 | Comedy Channel</strong>
            <hr>
            <p>
                <strong>Comedy video list</strong> 
            </p>
            <br>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Your Channel ( subscriber )</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
    </div>
</div>