<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="from-event">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">Of and From</a>
            </li>
            <li>
                <a routerLink="to-array">ToArray</a>
            </li>
            <li>
                <a routerLink="custom-observable">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li>
            <li>
                <a routerLink="take">Take</a>
            </li>
            <li>
                <a routerLink="take">Take</a>
            </li>
            <li>
                <a routerLink="debounce_distinct">Debounce and Distinct Until change</a>
            </li>
            <li>
                <a routerLink="subject">Subject</a>
            </li>
           
        </ul>
    </div>
</div>