ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}
.error{
    color: red;
    background: rgba(205, 180, 180, 0.548);
    border-color: red;
}
.complete{
    color: green;
    background: rgb(183, 202, 183);
    border-color: green;
}