.red{
background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: violet;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}