<div class="my-3">
    <h2>switchmap</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>ex - 01 | Map</strong>
            <hr>
            <p>
                <strong>Tech videos list :</strong> 
            </p>
            <hr>
            <ul id="elContainer"></ul>
            <br>
        </div>
        <div class="col-md-4">
            <strong>ex-02 | map- switchAll</strong>
            <hr>
            <p>
                <strong>Drama video list</strong> 
            </p>
            <br>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>ex-03 | switchMap</strong>
            <hr>
            <p>
                <strong>Comedy video list</strong> 
            </p>
            <br>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
    </div>