<h1>debouncetime-distinctuntil works!</h1>
<div class="row my-4">
    <div class="col-md-6">
        <strong>Ex- 01  - Debounce Time </strong>
        <hr>
        <div class="d-flex ">
            <div class=" mx-2">Search </div>
            <div> <input type="text" placeholder="Seach " #myInput></div>
        </div>
        <br>
        <h4 > Requested Data :  <strong *ngIf="reqData != null" class="text-success">{{reqData}}</strong> </h4>
    </div>

    <div class="col-md-6">
        <strong>Ex- 02  - Distinct Until Change </strong>
        <hr>
        <div class="d-flex ">
            <div class=" mx-2">Search </div>
            <div> <input type="text" placeholder="Seach " #myInput2></div>
        </div>
        <br>
        <h4 > Requested Data :  <strong *ngIf="reqData2 != null" class="text-success">{{reqData2}}</strong> </h4>
    </div>
</div>